<a href="https://colab.research.google.com/github/mohansurya11/Coding_Practice/blob/main/Copy_of_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_set = {1,2,3,3,4,4,4,5, [1,3,4]}

In [ ]:
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
myset = {1,2,3}
print(myset)

{1, 2, 3}

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
print(my_list[2])

[1, 2, 3, 4, 5]
3

DICTIONARY

In [ ]:
my_dict = {"name": "bala", "age": 22, "address": "No.12, street", "number": 1234567890}

print(my_dict)

{'name': 'bala', 'age': 22, 'address': 'No.12, street', 'number': 1234567890}

In [ ]:
# print(my_dict["hobbies"])

my_dict["hobbies"] = ["cricket", "khokho"]
print(my_dict)

{'name': 'balakumar', 'age': 22, 'address': 'No.12, street', 'number': 1234567890, 'hobbies': ['cricket', 'khokho']}

In [ ]:
my_dict.pop("name")

print(my_dict)

{'age': 22, 'address': 'No.12, street', 'number': 1234567890, 'hobbies': ['cricket', 'khokho']}

CONDITIONS

In [ ]:
a = 10

b = 10


if a > b:
  print("a is greater than b")

elif a < b:
  print("b is greater than a")

else:
  print("both a and b are same")

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

my_tuple = (1,2,4,5,6)

my_set = {1,2,3,4,5,6,7}

my_dict = {"name": 'bala', "age": 22}

print("LIST")
for element in my_list:

  print(element)

LIST
1
2
3
4
5
6
7
8
9
10

In [ ]:
print("tuple")
for element in my_tuple:

  print(element)

tuple
1
2
4
5
6

In [ ]:
for i in range(0, 5, 2):
  print(i)

0
2
4

In [ ]:
i = 1

while i < 6:

  print(i)

  i = i + 1

1
2
3
4
5

In [ ]:
names = ["bala", "gowtham", "thangavel"]

for name in names:

  print(name)

  if name == "gowtham":
    break

bala
gowtham

In [ ]:
names = ["bala", "gowtham", "thangavel"]

for name in names:

  if name == "gowtham":
    continue

  print(name)

bala
thangavel

In [ ]:
names = ["bala", "gowtham", "thangavel"]

for name in names:

  if name == "gowtham":
    pass

  print(name)

bala
gowtham
thangavel

A random number is asked from the user. If the number is positive, print  "COOL!  IT IS POSITIVE" and if the number is negative, print "AHH! IT IS NEGATIVE". Last, if the number is zero, print "OH OH! IT IS ZERO".

In [ ]:
number = 2

if number > 0:
  print("POSTIVE")
elif number < 0:
  print("NEGATIVE")
else:
  print("ZERO")

POSTIVE

11. You are given with a list of integer elements. Your task is to make a new list which will stores the square of elements of previous list. (Use for loop)

In [ ]:
number_list = [1,2,3,4,5]

number_square_list = []

for i in number_list:

  number_square_list.append(i * i)

print(number_square_list)

[1, 4, 9, 16, 25]

Your sister bought you 10 pencils for 80 rupees. Find the price of each pencil using python

In [ ]:
number_of_pencils = 10

total_price = 80

pencil_price = total_price // number_of_pencils

print(pencil_price)

8

Make two new lists The first list will contains only odd numbers and the second list will contain only even numbers, print the new lists.

In [ ]:
odd_list = []

even_list = []

for i in range(1,51):

  if i % 2 == 0:

    even_list.append(i)

  else:

    odd_list.append(i)

print(odd_list)
print(even_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]